<html>
    <head>
        <title>Go Fuck Yourself!</title>
        <link rel="stylesheet" href="static/css/uikit.min.css" />
        <script src="static/js/uikit.min.js"></script>
        <script src="static/js/uikit-icons.min.js"></script>
    </head>

    <body>
        <div class="uk-container">
            <div style="width:50%; margin-top:10%;margin-left:25%;">
                <a href="/"><img src="static/images/404_img.png" style="width:100%"></a>
            </div>
        </div>
    </body>
</html>