<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <title>Simple example - Editor.md examples</title>
        <link rel="stylesheet" href="static/website/css/style.css" />
        <link rel="stylesheet" href="static/css/editormd.css" />
        <link rel="stylesheet" href="static/css/uikit.min.css" />
        <link rel="stylesheet" href="static/css/blog/edit.css"/>
        <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
        <script src="static/js/vue.min.js"></script>
    </head>
    <body>
        <div id="view-field">
            <div v-html="viewhtml"></div>
        </div>

        <div id="layout">
            <header>
                <!--<h1 id="hello">心情这么好，写点什么呢？</h1> -->
                <div>
                    <span class="article-back-btn"><a href="/">back</a></span>
                </div>
            </header>



            <!-- 分类编辑面板 -->
            <div class="uk-container" id="add-category-layer" style="display:none">
                <div class="category-edit-panel">
                    <div uk-margin>
                        <select class="uk-select" id="category-edit-select" style="width:49%;" onchange="on_category_edit_select_change(this.options[this.options.selectedIndex])">
                        <!-- 这里是分类编辑面板的分类列表 -->
                        </select>
                        <select class="uk-select" id="category-edit-select-scope" style="width:49%;">
                            <option value="1">公开</option>
                            <option value="0">私人</option>
                        </select>
                        
                    </div>

                    <div uk-margin style="margin-top:10px;">
                        <button v-on:click="to_delete_category" class="uk-button uk-button-danger" id="category-edit-del" style="width:30%; margin-left:12%">删除</button>
                        <button v-on:click="to_change_category" class="uk-button uk-button-danger" id="category-edit-change" style="width:30%; margin-left:12%">修改</button>
                    </div>

                    <div uk-margin style="margin-top:10px;">
                        <input id="v_new_category_name" class="uk-input" type="text" placeholder="输入一个新的分类", style="width:47%">
                        <select class="uk-select" id="category-edit-add-select-scope" style="width:20%;">
                            <option value="1">公开</option>
                            <option value="0">私人</option>
                        </select>
                        <button v-on:click="to_add_category" class="uk-button uk-button-primary" id="category-edit-add" style="width:30%">添加</button>
                    </div>

                    <div uk-margin style="margin-top:80px">
                        <button v-on:click="clost-category-edit" class="uk-button uk-button-default" id="category-panel-close" style="width:30%; margin-left:35%">关闭</button>
                    </div>
                </div>
            </div>
            <!-- 分类编辑面板结束 -->


            <!-- 文章头部标题，分类，操作等 -->
            <div uk-margin style="margin-left:5%" id="article-form">
                {% if article %}
                    <input id="form-article-title" class="uk-input" type="text" placeholder="请输入标题" style="width:30%" value="{{ article.article_title }}">
                {% else %}
                    <input id="form-article-title" class="uk-input" type="text" placeholder="请输入标题" style="width:30%">
                {% endif %}
                
                <select class="uk-select" id="form-category-select" style="width:200px;" onchange="on_form_category_select_change(this.options[this.options.selectedIndex])">
                    
                <option value="0" scope="1">请选择分类</option>
                    {% for category in categories %}
                        {% if category.scope == 0 %}
                            <option value={{category.id}} scope={{category.scope}}>[私有] {{category.title}}</option>
                        {% else %}
                            <option value={{category.id}} scope={{category.scope}}>[公开] {{category.title}}</option>
                        {% endif %}
                        
                    {% endfor %}
                </select>

                <select class="uk-select" id="form-article-scope" style="width:100px;">
                    {% if not article %}
                    <option value="1">公开</option>
                    <option value="0">私人</option>
                    {% else %}
                        {% if article.scope == 1 %}
                            <option value="1" selected="selected">公开</option>
                            <option value="0">私人</option>
                        {% else %}
                            <option value="1">公开</option>
                            <option value="0" selected="selected">私人</option>
                        {% endif %}
                    {% endif %}
                </select>
                

                <button v-on:click="tmpsave" class="uk-button uk-button-danger" id="to-save-tmp" style="width:120px;">存草稿</button>
                <button v-on:click="public" class="uk-button uk-button-primary" id="to-public" style="width:120px;">发布</button>
                <button v-on:click="totest" class="uk-button uk-button-primary" id="to-edit-category" style="width:120px;">编辑分类</button>
            </div>
            <!-- 文章头部信息结束 -->
            
            </br>

            <!-- 正文编辑 -->
            {% if article %}
                <div class="editormd" id="test-editormd" article-id="{{ id }}">
                    <textarea>{{ article.md_content }}</textarea>
                </div>
            {% else %}
                <div class="editormd" id="test-editormd" article-id="-1">
                    <textarea></textarea>
                </div>
            {% endif %}

        </div>
        
        <script src="static/website/js/zepto.min.js"></script>
        <script src="static/editormd.min.js"></script>
        <script src="static/js/uikit.min.js"></script>
        <script src="static/js/uikit-icons.min.js"></script>
        <script src="static/js/sha1.min.js"></script>
        <script src="static/js/sticky.min.js"></script>
        
        <script type="text/javascript">
            var app = new Vue({
                    el:'#view-field',
                    data:{
                        //viewhtml:"",
                        v_new_category_name:"",
                    },
                    methods:{
                        totest: function(data){
                            this.viewhtml = data;
                        },
                        to_delete_category:function(){
                            alert("To Delete Category");
                        },
                        to_add_category:function(){
                            alert("To Add Category");
                        }
                   }
            });           
            
           
            // 当分类列表编辑的时候选择改变
            function on_category_edit_select_change(option){

                var selectedValue = option.value;
                if(selectedValue == "0"){
                    $("#category-edit-select-scope").prop('disabled', 'disabled');
                }
                else{
                    $("#category-edit-select-scope").prop('disabled', false);
                }

                var scope = option.getAttribute('scope');
                $("#category-edit-select-scope").val(scope);                
            }

            // 文章
            function on_form_category_select_change(option){
                var selectedValue = option.value;
            }

            // 重置分类编辑页面分类列表
            function reset_category_edit_select(){
                var selectedIndex = $("#category-edit-select").get(0).selectedIndex;
                var currOption = document.getElementById("category-edit-select").options[selectedIndex];
                on_category_edit_select_change(currOption);
            }

            // 重置文章页面分类列表
            function reset_form_category_select(){
                var selectedIndex = $("#form-category-select").get(0).selectedIndex;
                var currOption = document.getElementById("form-category-select").options[selectedIndex];
                on_form_category_select_change(currOption);
            }
            
            var testEditor;
            var jQuery = Zepto;  // 为了避免修改 flowChart.js 和 sequence-diagram.js 的源码，所以想支持 flowChart / sequenceDiagram 就得加上这一句
            

             window.onload = function() {
                testEditor = editormd("test-editormd", {
                width: "90%",
                height: 740,
                path : '../static/lib/',
                theme : "default",
                previewTheme : "default",
                editorTheme : "base16-light",
                codeFold : true,
                //syncScrolling : false,
                saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
                searchReplace : true,
                //watch : false,                // 关闭实时预览
                htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启    
                //toolbar  : false,             //关闭工具栏
                //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
                emoji : true,
                taskList : true,
                tocm            : true,         // Using [TOCM]
                tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                flowChart : true,             // 开启流程图支持，默认关闭
                sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
                //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
                //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
                //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
                //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
                //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
                imageUpload : true,
                imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL : "http://127.0.0.1:9000/api/imgupload",
                onload : function() {
                    console.log('onload', this);
                        
                    //this.fullscreen();
                    //this.unwatch();
                    //this.watch().fullscreen();
                    //this.setMarkdown("#PHP");
                    //this.width("100%");
                    //this.height(480);
                    //this.resize("100%", 640);
                    }
                });


                {% if article %}
                    $("#form-category-select").val("{{ article.belong_category }}");
                {% endif %}

                // 文章的分类默认选择第一项"请选择分类"
                var selectedIndex = $("#form-category-select").get(0).selectedIndex;
                var currOption = document.getElementById("form-category-select").options[selectedIndex];
                on_form_category_select_change(currOption);

                $("#add-category-layer").hide();

                // 文章存草稿
                $("#to-save-tmp").bind('click',function(){
                    var articleObj = document.getElementById("test-editormd");
                    var article_id = articleObj.getAttribute("article-id");
                    article_title = $("#form-article-title").val();
                    var selectedIndex = $("#form-category-select").get(0).selectedIndex;
                    var currOption = document.getElementById("form-category-select").options[selectedIndex];
                    var article_category = currOption.value;
                    var category_title = currOption.text;
                    var scope = $("#form-article-scope").val();
                    var html_content = testEditor.getHTML();
                    var md_content = testEditor.getMarkdown();

                    $.post('/api/article/tmpsave',{
                        id:article_id,
                        title:article_title,
                        category_id:article_category,
                        scope:scope,
                        html_content:html_content,
                        md_content:md_content,
                    },function(data,r){
                        if(data){
                            if(data['result'] >= 0){
                                var new_article_id = data['article_id'];
                                alert("存草稿成功:" + new_article_id);
                                var articleObj = document.getElementById("test-editormd");
                                articleObj.setAttribute("article-id",new_article_id);
                            }
                            else{
                                alert("草稿保存失败，请确认内容");
                            }
                        }

                    });
                    
                });

                // 文章发布
                $("#to-public").bind('click',function(){
                    var articleObj = document.getElementById("test-editormd");
                    var article_id = articleObj.getAttribute("article-id");
                    article_title = $("#form-article-title").val();
                    var selectedIndex = $("#form-category-select").get(0).selectedIndex;
                    var currOption = document.getElementById("form-category-select").options[selectedIndex];
                    var article_category = currOption.value;
                    var category_title = currOption.text;
                    var scope = $("#form-article-scope").val();
                    var html_content = testEditor.getHTML();
                    var md_content = testEditor.getMarkdown();
                    
                    $.post('/api/article/public',{
                        id:article_id,
                        title:article_title,
                        category_id:article_category,
                        scope:scope,
                        html_content:html_content,
                        md_content:md_content,
                    },function(data,r){
                        if(data){
                            if(data['result'] >= 0){
                                var new_article_id = data['article_id'];
                                alert("发布成功:" + new_article_id);
                                //var articleObj = document.getElementById("test-editormd");
                                //articleObj.setAttribute("article-id",new_article_id);
                                //return location.assign("/article/" + new_article_id);
                                return location.assign('/');
                            }
                        }

                    });
                });

                // 打开分类编辑面板
                $('#to-edit-category').bind('click',function(){
                    // show category edit panel
                    $("#add-category-layer").show();

                     // clear all category
                     $("#category-edit-select").empty();
                    
                    // 向服务器请求分类列表
                    $.get('/api/get_all_category',{

                    },function(data,r){
                        if(data){
                            if(data['result'] < 0){
                                alert("分类列表获取失败:" + data['msg']);
                            }
                            else{
                                var defaultOption = new Option("请选择分类","0");
                                defaultOption.setAttribute('scope',"1");
                                document.getElementById("category-edit-select").options.add(defaultOption);
                                on_category_edit_select_change(defaultOption);

                                for (var i = 0; i < data['value'].length; ++i){
                                    var category = data['value'][i];
                                    var value = category.id;
                                    var scope = category.scope;
                                    var title = category.title;
                                    var option = new Option(title,value);
                                    option.setAttribute("scope",scope);
                                    document.getElementById("category-edit-select").options.add(option);
                                }
                            }
                        }
                        else{
                            alert("分类列表获取失败");
                        }
                    });
                });

            

                // 分类编辑面板
                // 分类删除
                $("#category-edit-del").bind('click',function(){
                    var selectedValue = $("#category-edit-select").val();

                    if(selectedValue == "0"){
                        alert("请选择一个分类");
                        return;
                    }

                    var selectedIndex = $("#category-edit-select").get(0).selectedIndex;
                    var option = document.getElementById("category-edit-select").options[selectedIndex];
                    var scope = option.getAttribute("scope");
                    var value = option.value;
                    // send to server
                    $.post('/api/delete_category',{
                        id:value,
                    },function(data,r){
                        if(data){
                            if(data['result'] < 0){
                                alert("删除分类失败:" + data['msg']);
                            }
                            else{
                                document.getElementById("category-edit-select").options.remove(selectedIndex);
                                reset_category_edit_select();
                                alert("删除分类成功");
                            }
                        }else{
                            alert("删除分类失败");
                        }
                    });
                });


                // 分类改变保存
                $("#category-edit-change").bind('click',function(){
                    var selectedIndex = $("#category-edit-select").get(0).selectedIndex;
                    var option = document.getElementById("category-edit-select").options[selectedIndex];
                    var scope = $("#category-edit-select-scope").val();
                    var value = option.value;
                    var newScope = parseInt(scope);

                    if(value == "0"){
                        alert("请选择一个分类");
                        return;
                    }


                    $.post('/api/change_category',{
                        id:value,
                        scope:scope,
                    },function(data,r){
                        if(data){
                            if(data['result'] < 0){
                                alert("修改失败:" + data['msg']);
                            }
                            else{
                                alert("修改成功:" + data['value']);
                                option.setAttribute("scope",data['value']);
                                reset_category_edit_select();
                            }
                        }
                        else{
                            alert("分类修改失败")
                        }
                    });
                });


                // 添加一个分类
                $("#category-edit-add").bind('click',function(){
                    // send to server
                    var new_category_text = $("#v_new_category_name").val().trim();
                    var add_scope = $("#category-edit-add-select-scope").val();
                    if(!new_category_text){
                        alert("请输入一个分类名称");
                        return;
                    }

                    $.post('/api/add_category',{
                        category:new_category_text,
                        scope:add_scope,
                    }, function(data,r){
                        if(data){
                            if(data['result'] < 0){
                                alert("添加失败:" + data['msg']);
                            }
                            else{
                                // 添加成功
                                var id = data['id'];
                                var scope = data['scope'];
                                var option = new Option(new_category_text,id);
                                option.setAttribute('scope',scope);
                                document.getElementById("category-edit-select").options.add(option);
                                $("#v_new_category_name").val("");
                                alert("添加成功:" + id);
                            }
                        }
                        else{
                            alert("添加失败");
                        }
                    });
                });

                // 分类编辑面板关闭
                $("#category-panel-close").bind('click',function(){
                    // reference edit select
                    var obj = document.getElementById("form-category-select").options;
                    var selectObj = document.getElementById("category-edit-select");
                    
                    $("#form-category-select").empty();

                    for(var i = 0; i < selectObj.length; ++i){
                        var option = selectObj.options[i];
                        var scope = option.getAttribute('scope');
                        var text = option.text;
                        var value = option.value;

                        if(value != "0"){
                            text = "[" + (scope == "0" ? "私人" : "公开") + "] " + text;
                        }
                        

                        var newOption = new Option(text,value);
                        newOption.setAttribute("scope",scope);
                        obj.add(newOption);
                    }

                    reset_form_category_select();     
                    
                    $("#add-category-layer").hide();
                });
            };
            
        </script>
    </body>
</html>