#index-container{
    padding-top:50px;
}

#blog-title{
    padding-left:30px;
}

#nav-header{
    padding-left:30px;
    padding-right:30px;
}

.nav-header-items span a{
    color:gray;
    margin-right:10px;
    font-size: 14px;
}

.nav-header-items span a:link{
    color: gray;
    text-decoration: none;
}

.nav-header-items span a:visited{
   color:gray;
   text-decoration: none;
}

.nav-header-items span a:hover{
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.nav-item-selected a{
    color:black !important;
    pointer-events: none !important;
    cursor: default !important;
}


.nav-header-userinfo{
    margin-right:30px;
}

.nav-header-userinfo span a{
    color:gray;
    font-size:14px;
}

.nav-header-userinfo span a:link{
    color: gray;
    text-decoration: none;
}

.nav-header-userinfo span a:visited{
    color: gray;
    text-decoration: none;
}

.nav-header-userinfo span a:hover{
    color:black;
    text-decoration: none;
    cursor: pointer;
}


#content-field{
    margin-top:30px;
}


#info-side{
    width:300px;
    min-width:300px;
    /*background-color: #AFEEEE;*/
    padding:10px;
}

#content-side{
    min-width:600px;
    padding-left:30px;
    /*background-color: #F5F5F5;*/
}



/* article */
.article-box{
    margin-bottom: 20px;
}

.article-title{ 
    font-size:26px;
}

.article-title a{
    color:black;
    font-weight: bold;
}

.article-title a:hover{
   color:gray;
    text-decoration: none;
}

.article-info{
    font-size:14px;
    color:#C3C3C3;
}


.article-read-info{
    font-size:14px;
}


.article-item-edit{
    font-size:14px;
}

.article-item-edit a{
    color:#C3C3C3;
}

.article-item-edit a:hover{
    color:#2C6CDB;
    text-decoration: none;
}

.article-item-delete{
    font-size:14px;
}

.article-item-delete a{
    color:#C3C3C3;
}

.article-item-delete a:hover{
    color:#2C6CDB;
    text-decoration: none;
}